$--c-primary: #5ece7b;
$--c-text: #1d1f22;
$--c-black: #1d1f22;
$--c-stock: #8d8f9a;
$--c-white: #ffffff;
$--c-bkgrnd: #eeeeee;
$--c-divider: #e5e5e5;
$--shadow-button: 0px 4px 35px rgba(168, 172, 176, 0.5);
$--shadow-background: (
    0px 4px 35px rgba(168, 172, 176, 0.19)
);

@mixin fontRaleway($weight, $fontSize, $lineHeight) {
    font: $weight #{$fontSize}px/#{$lineHeight}px "Raleway",
    sans-serif;
}

@mixin fontRoboto($weight, $fontSize, $lineHeight) {
    font: $weight #{$fontSize}px/#{$lineHeight}px "Roboto",
    sans-serif;
}

@mixin fontSource($weight, $fontSize, $lineHeight) {
    font: $weight #{$fontSize}px/#{$lineHeight}px "Source Sans Pro",
    sans-serif;
}

.hide {
    display: none;
}

h2 {
    margin: 80px 0 55px;
    @include fontRaleway(400, 42, 29);
    text-transform: capitalize;
    color: $--c-text;
}

h3 {
    margin: 80px 0 55px;
    @include fontRaleway(700, 32, 40);
    text-transform: capitalize;
    color: $--c-text;
}

h4 {
    text-align: center;
    margin: 80px 0 55px;
    @include fontRaleway(700, 32, 40);
    color: $--c-text;
}

.container {
    width: 1238px;
    margin: 0 auto;
}

.navlink {
    text-decoration: none;
    color: inherit;
}