$--c-primary: #5ece7b;
$--c-text: #1d1f22;
$--c-black: #1d1f22;
$--c-stock: #8d8f9a;
$--c-white: #ffffff;
$--c-bkgrnd: #eeeeee;
$--c-divider: #e5e5e5;
$--shadow-button: 0px 4px 35px rgba(168, 172, 176, 0.50);
$--shadow-background: (0px 4px 35px rgba(168, 172, 176, 0.19));

@mixin fontRaleway($weight, $fontSize, $lineHeight) {
	font: $weight #{$fontSize}px/#{$lineHeight}px "Raleway", sans-serif;
}

@mixin fontRoboto($weight, $fontSize, $lineHeight) {
	font: $weight #{$fontSize}px/#{$lineHeight}px "Roboto", sans-serif;
}

@mixin fontSource($weight, $fontSize, $lineHeight) {
	font: $weight #{$fontSize}px/#{$lineHeight}px "Source Sans Pro", sans-serif;
}

.hide {
	display: none;
}
h2 {
	margin: 80px 0 55px;
	@include fontRaleway(400, 42, 29);
	text-transform: capitalize;
	color: $--c-text;
}

h3 {
	margin: 80px 0 55px;
	@include fontRaleway(700, 32, 40);
	text-transform: capitalize;
	color: $--c-text;
}

h4 {
	text-align: center;
	margin: 80px 0 55px;
	@include fontRaleway(700, 32, 40);
	color: $--c-text;
}

.container {
	width: 1238px;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	position: relative;
	&-nav {
		display: flex;
		justify-content: center;
		align-items: center;

		&-button {
			padding: 4px 16px 0;
			font-family: inherit;
			@include fontRaleway(400, 16, 19);
			color: $--c-text;
			text-transform: uppercase;
			height: 80px;
			background-color: transparent;
			border: none;
			cursor: pointer;

			&:hover {
				color: $--c-primary;
				border-bottom: 2px solid $--c-primary;
			}

			&:active {
				color: $--c-primary;
				border-bottom: 2px solid $--c-primary;
				padding-top: 7px;
			}
		}
	}

	&-cart {
		&-button {
			background-color: transparent;
			border: none;
			cursor: pointer;

			&:hover {
				transform: scale(1.08);
				border-bottom: 2px solid $--c-primary;
			}

			&:active {
				border-bottom: 2px solid $--c-primary;

				img {
					transform: scale(0.9);
				}
			}
		}
	}

	&-currency {
		position: relative;
		display: flex;
		@include fontRaleway(500, 18, 29);
		color: $--c-black;
		position: relative;
		z-index: 100;
		cursor: pointer;

		&-container {
			display: flex;
			width: 40px;
			margin-right: 22px;

			span {
				display: block;
			}
			&-sign {
				@include fontRaleway(500, 18, 29);
				color: $--c-black;
				padding: 0 10px;
			}
			&-arrows {
				position: relative;
				display: block;
				width: 10px;
				transition: all 0.5s;

				&:after {
					position: absolute;
					top: 50%;
					right: 2px;
					transform: rotate(-45deg);
					content: "";
					height: 6px;
					border-left: 1px solid $--c-black;
				}
				&:before {
					position: absolute;
					top: 50%;
					left: 2px;
					transform: rotate(45deg);
					content: "";
					height: 6px;
					border-right: 1px solid $--c-black;
				}
			}
			.arrows_transform {
				transform: scale(-1, -1);
			}
		}

		&-select {
			background: $--c-white;
			position: absolute;
			z-index: 100000;
			top: 50px;
			right: 0px;
			min-width: 114px;
			box-shadow: $--shadow-background;
			padding: 20px 0;
			visibility: hidden;
			opacity: 0;
			transform: translateY(-20px);
			transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;

			&.active {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
			}

			&-container {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			&-button {
				background: transparent;
				cursor: pointer;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0;
				border: none;
				vertical-align: middle;
				margin-left: auto;
			}

			ul {
				list-style: none;
				padding: 0;
				margin: 0;

				li {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					text-decoration: none;
					cursor: pointer;
					height: 45px;

					p {
						margin: 8px 20px;
					}

					&:hover {
						background-color: $--c-bkgrnd;
					}
				}
			}
		}

		&-button {
			display: block;
			position: relative;
			background-color: transparent;
			border: none;
			cursor: pointer;
			margin-right: 20px;
			&-quantity {
				position: absolute;
				display: flex;
				justify-content: center;
				align-items: center;
				top: -5px;
				right: -7px;
				height: 20px;
				width: 20px;
				border-radius: 20px;
				background-color: $--c-black;
				@include fontRoboto(700, 14, 16);
				color: $--c-white;
			}
		}
	}
}

.category {
	padding: 0 100px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: column;

	&_product {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: 40px;
	}
}

.product-card {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 386px;
	height: 444px;
	padding: 16px;
	position: relative;
	z-index: 0;

	&:hover {
		cursor: pointer;
		box-shadow: $--shadow-background;
	}

	&_img {
		position: relative;
		display: flex;
		justify-content: center;
		width: 354px;
		height: 330px;
		margin-bottom: 24px;

		img {
			display: block;
			height: 330px;
		}
	}

	&_description {
		@include fontRaleway(300, 18, 29);
		color: $--c-black;

		&_name {
			margin: 0;
		}

		&_currency {
			margin: 0;
			font-weight: 500;
		}
	}

	&_cart {
		position: absolute;
		right: 31px;
		bottom: 72px;
		display: none;
		justify-content: center;
		align-items: center;
		height: 52px;
		width: 52px;
		border-radius: 52px;
		background-color: $--c-primary;
		z-index: 100;

		&:hover {
			transform: scale(1.05);
		}

		&:active {
			transform: scale(0.9);
		}
	}

	&_stock {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 354px;
		height: 330px;
		@include fontRaleway(400, 24, 38);
		text-transform: uppercase;
		color: $--c-stock;
		background: rgba(255, 255, 255, 0.5);
	}

	&:hover > .product-card_cart {
		display: flex;
	}
}

.product {
	display: flex;
	justify-content: flex-start;
	margin-top: 60px;

	&_images {
		display: flex;
		max-height: 511px;
		margin-right: 100px;

		&_thumbnails {
			display: flex;
			flex-direction: column;
			margin-right: 40px;
			overflow: auto;
			scrollbar-width: none;
			overflow-x: hidden;

			div {
				box-sizing: border-box;
				width: 79px;
				height: 80px;
				text-align: center;
				margin-bottom: 40px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					cursor: zoom-in;
				}
			}
		}

		&_image {
			position: relative;
			width: 610px;
			height: 511px;
			display: flex;
			justify-content: center;
			margin: 0 40px;

			img {
				display: inline-block;
				max-width: 610px;
				height: auto;
			}
		}
	}

	&_info {
		display: flex;
		flex-direction: column;
		max-width: 292px;

		&_title {
			font: inherit;
			@include fontRaleway(400, 30, 27);
			margin-bottom: 45px;

			p {
				margin: 0;

				&:first-child {
					margin-bottom: 20px;
					font-weight: 600;
					margin-bottom: 16px;
				}
			}
		}

		&_button {
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 1;
			margin: 0 0 40px 0;
			box-sizing: border-box;
			max-height: 52px;
			min-height: 52px;
			border: none;
			background-color: $--c-primary;
			@include fontRaleway(600, 16, 19);
			text-transform: uppercase;
			color: $--c-white;
			cursor: pointer;

			&:hover {
                box-shadow: $--shadow-button;
			}

			&:active {
				transform: scale(0.98);
			}
			&:disabled {
				border: 1px solid #999999;
				background-color: #cccccc;
				color: #666666;
				transform: none;
                box-shadow: none;
			}
		}

		&_description {
			max-width: 292px;
		}
	}
}

.cart {
	&_product {
		&_element {
			display: flex;
			justify-content: space-between;
			border-bottom: 1px solid $--c-divider;
			&:first-child {
				border-top: 1px solid $--c-divider;
			}
		}

		&_info {
			margin: 24px 0;
		}

		&_quantity {
			margin: 24px 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			margin-left: auto;

			span {
				@include fontRaleway(500, 24, 38);
			}

			button {
				position: relative;
				width: 45px;
				height: 45px;
				background: transparent;
				cursor: pointer;
				border-color: $--c-black;

				&:first-child {
					&:after {
						position: absolute;
						top: 50%;
						right: 50%;
						transform: translate(50%, -50%);
						content: "";
						height: 15px;
						border-left: 1px solid $--c-black;
					}

					&:hover {
                        box-shadow: $--shadow-button;
					}

					&:active {
						transform: scale(0.9);
					}

					&:before {
						position: absolute;
						top: 50%;
						right: 50%;
						transform: translate(50%, -50%) rotate(90deg);
						content: "";
						height: 15px;
						border-right: 1px solid $--c-black;
					}

					&:hover {
                        box-shadow: $--shadow-button;
					}

					&:active {
						transform: scale(0.9);
					}
				}

				&:last-child {
					&:after {
						position: absolute;
						top: 50%;
						right: 50%;
						transform: translate(50%, -50%);
						content: "";
						width: 15px;
						height: 1px;
						border-bottom: 1px solid $--c-black;
					}

					&:hover {
                        box-shadow: $--shadow-button;
					}

					&:active {
						transform: scale(0.9);
					}
				}
			}
		}

		&_image {
			&_picture {
				position: relative;
				margin: 24px 0 24px 24px;
				box-sizing: border-box;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 200px;
				height: 288px;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			&_buttons {
				display: flex;
				justify-content: space-between;
				position: absolute;
				bottom: 16px;
				right: 16px;
				height: 24px;
				width: 56px;
				button {
					position: relative;
					width: 24px;
					height: 24px;
					background-color: rgba(0, 0, 0, 0.73);
					border: 0;
					cursor: pointer;
				}

				:first-child {
					&:after {
						position: absolute;
						top: 50%;
						right: 50%;
						transform: translate(50%, -50%) rotate(45deg);
						content: "";
						display: block;
						width: 7px;
						height: 7px;
						border-left: 1.5px solid $--c-white;
						border-bottom: 1.5px solid $--c-white;
					}

					&:hover {
						transform: scale(1.1);
					}

					&:active {
						transform: scale(0.9);
					}
				}

				:last-child {
					&:after {
						position: absolute;
						top: 50%;
						right: 50%;
						transform: translate(50%, -50%) rotate(-135deg);
						content: "";
						display: block;
						width: 7px;
						height: 7px;
						border-left: 1.5px solid $--c-white;
						border-bottom: 1.5px solid $--c-white;
					}

					&:hover {
						transform: scale(1.1);
					}

					&:active {
						transform: scale(0.9);
					}
				}
			}
		}
	}
	&_total {
		padding-top: 8px;
		display: flex;
		&_title {
			@include fontRaleway(400, 24, 28);
			:last-child {
				font-weight: 500;
			}
		}
		&_value {
			padding-left: 5px;
			@include fontRaleway(700, 24, 28);
		}
	}
	&_button {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1;
		margin: 0 0 40px 0;
		box-sizing: border-box;
		max-height: 52px;
		min-height: 52px;
		width: 279px;
		border: none;
		background-color: $--c-primary;
		@include fontRaleway(600, 16, 19);
		text-transform: uppercase;
		color: $--c-white;
		cursor: pointer;

		&:hover {
            box-shadow: $--shadow-button;
		}

		&:active {
			transform: scale(0.98);
		}
	}
}

.bag {
	width: 325px;
	max-height: 677px;
	position: absolute;
	overflow: auto;
	background: $--c-white;
	z-index: 100001;
	top: 80px;
	right: 0px;
	box-shadow: $--shadow-background;
	padding: 32px 16px;
	visibility: hidden;
	opacity: 0;
	transform: translateY(-20px);
	transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
	//overflow-x: hidden;

	&.active {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}

	.bag_name {
		@include fontRaleway(300, 16, 26);
		margin-bottom: 0px;

		p {
			margin: 0;

			&:first-child {
				font: inherit;
			}
		}
	}

	.bag_price {
		&_label-hide {
			display: none;
		}

		&_currency {
			margin: 4px 0 0 0;
			@include fontRaleway(500, 16, 26);
		}
	}

	.bag_attribute {
		display: flex;
		flex-direction: column;

		&_element {
			&_name {
				margin: 0 0 8px 0;
				@include fontRaleway(400, 14, 16);
				color: $--c-text;
				text-transform: capitalize;
			}

			&_items {
				display: flex;
				justify-content: flex-start;
				flex-direction: row;
				align-items: center;
				gap: 8px;
				margin-bottom: 8px;

				&_text {
					display: flex;
					align-items: center;
					justify-content: center;
					border: 1px solid $--c-black;
					width: 34px;
					height: 24px;
					gap: 12px;
					@include fontSource(400, 14, 22);
					color: $--c-black;
					background-color: $--c-white;
					cursor: pointer;

					&_selected {
						background-color: $--c-black;
						color: $--c-white;
					}
				}

				&_swatch {
					display: flex;
					align-items: center;
					justify-content: center;
					border: none;
					width: 16px;
					height: 16px;
					gap: 8px;
					cursor: pointer;

					&_selected {
						outline: 1px solid $--c-primary;
						outline-offset: 2px;
					}
				}
			}
		}
	}

	&_title {
		margin-bottom: 32px;
		:first-child {
			@include fontRaleway(700, 16, 26);
		}
		@include fontRaleway(500, 16, 26);
	}

	&_product {
		&_element {
			padding: 4px 0;
			display: flex;
			justify-content: space-between;
			margin-bottom: 32px;
		}

		&_quantity {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			margin-left: auto;

			span {
				@include fontRaleway(500, 16, 26);
			}

			button {
				position: relative;
				width: 24px;
				height: 24px;
				background: transparent;
				cursor: pointer;
				border-color: $--c-black;

				&:first-child {
					&:after {
						position: absolute;
						top: 50%;
						right: 50%;
						transform: translate(50%, -50%);
						content: "";
						height: 8px;
						border-left: 1px solid $--c-black;
					}

					&:hover {
                        box-shadow: $--shadow-button;
					}

					&:active {
						transform: scale(0.9);
					}

					&:before {
						position: absolute;
						top: 50%;
						right: 50%;
						transform: translate(50%, -50%) rotate(90deg);
						content: "";
						height: 8px;
						border-right: 1px solid $--c-black;
					}

					&:hover {
                        box-shadow: $--shadow-button;
					}

					&:active {
						transform: scale(0.9);
					}
				}

				&:last-child {
					&:after {
						position: absolute;
						top: 50%;
						right: 50%;
						transform: translate(50%, -50%);
						content: "";
						width: 8px;
						height: 1px;
						border-bottom: 1px solid $--c-black;
					}

					&:hover {
                        box-shadow: $--shadow-button;
					}

					&:active {
						transform: scale(0.9);
					}
				}
			}
		}

		&_image {
			&_picture {
				position: relative;
				margin: 0 0 0 8px;
				box-sizing: border-box;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 121px;
				height: 190px;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			&_buttons {
				display: flex;
				justify-content: space-between;
				position: absolute;
				bottom: 16px;
				right: 16px;
				height: 24px;
				width: 56px;
				button {
					position: relative;
					width: 24px;
					height: 24px;
					background-color: rgba(0, 0, 0, 0.73);
					border: 0;
					cursor: pointer;
				}

				:first-child {
					&:after {
						position: absolute;
						top: 50%;
						right: 50%;
						transform: translate(50%, -50%) rotate(45deg);
						content: "";
						display: block;
						width: 7px;
						height: 7px;
						border-left: 1.5px solid $--c-white;
						border-bottom: 1.5px solid $--c-white;
					}

					&:hover {
						transform: scale(1.1);
					}

					&:active {
						transform: scale(0.9);
					}
				}

				:last-child {
					&:after {
						position: absolute;
						top: 50%;
						right: 50%;
						transform: translate(50%, -50%) rotate(-135deg);
						content: "";
						display: block;
						width: 7px;
						height: 7px;
						border-left: 1.5px solid $--c-white;
						border-bottom: 1.5px solid $--c-white;
					}

					&:hover {
						transform: scale(1.1);
					}

					&:active {
						transform: scale(0.9);
					}
				}
			}
		}
	}
	&_total {
		&_title {
			display: flex;
			justify-content: space-between;
			@include fontRoboto(500, 16, 18);
			:last-child {
				@include fontRaleway(700, 16, 26);
			}
		}
	}
	&_checkout {
		display: flex;
		gap: 12px;
		&_button {
            text-decoration: none;
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 1;
			box-sizing: border-box;
			max-height: 43px;
			min-height: 43px;
			width: 140px;
			border: none;
			background-color: $--c-primary;
			@include fontRaleway(600, 16, 19);
			text-transform: uppercase;
			color: $--c-white;
			cursor: pointer;

			&:hover {
                box-shadow: $--shadow-button;
			}

			&:active {
				transform: scale(0.98);
			}
            
		}
        :first-child {
                background-color: $--c-white;
                border: 1px solid $--c-black;
                color: $--c-text;
            }
	}
	&_background {
		z-index: 10;
		top: 80px;
		left: 0;
		position: fixed;
		display: block;
		width: 100vw;
		height: 90vh;
		background-color: rgba(57, 55, 72, 0.22);
		transition: all 1s;
	}
}

.attribute {
	display: flex;
	flex-direction: column;

	&_element {
		&_name {
			margin: 0 0 8px 0;
			@include fontRaleway(700, 18, 18);
			color: $--c-text;
			text-transform: uppercase;
		}

		&_items {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 10px;
			margin-bottom: 24px;

			&_text {
				display: flex;
				align-items: center;
				justify-content: center;
				border: 1px solid $--c-black;
				width: 63px;
				height: 45px;
				gap: 12px;
				@include fontSource(400, 16, 18);
				color: $--c-black;
				background-color: $--c-white;
				cursor: pointer;

				&_selected {
					background-color: $--c-black;
					color: $--c-white;
				}
			}

			&_swatch {
				display: flex;
				align-items: center;
				justify-content: center;
				border: none;
				width: 32px;
				height: 32px;
				gap: 8px;
				cursor: pointer;

				&_selected {
					outline: 1px solid $--c-primary;
					outline-offset: 2px;
				}
			}
		}
	}
}

.price {
	&_label-show {
		@include fontRoboto(700, 18, 18);
		text-transform: uppercase;
		margin-bottom: 25px;
	}

	&_label-hide {
		display: none;
	}

	&_currency {
		margin: 0 0 30px 0;
		@include fontRaleway(700, 24, 18);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.loader_spinner {
	width: 50px;
	height: 50px;
	border: 10px solid $--c-stock;
	border-top: 10px solid $--c-black;
	border-radius: 50%;
	animation: spinner 1.5s linear infinite;
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px;
}

.navlink {
	text-decoration: none;
	color: inherit;
}